* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
#canvas1{
    /*background: grey;*/
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    border:5px solid black;
    
}
#player,#background1,#background2,#background3,#background4,#background5,
#GroundEnemy,#FlyingEnemy,#ZombieEnemy,#hitfire,#boom,#enemydeath,#life{
    display: none;
}
   
    
#loading{
    position:absolute;
    text-align: center;
    top:50%;
    width:100%;
    font-size:80px;
}


